<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>LMU AI Journal Club</title>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="app">
    <div id="header">
      <div class="left">
        <a href="https://lmu-aijc.github.io/">LMU AI Journal Club</a>
      </div>
      <div class="right">
          <a href="https://github.com/LMU-AIJC/lmu-aijc.github.io">GitHub</a>
      </div>
    </div>
    <div id="body" v-cloak>
        <div class="info">
            <h3>A paper reading group for students of Ludwig Maximilians University of Munich that are interested in AI.</h3>
            
            <h4>Location: Mondays 9am, L U117 (Data Science Lab), Oettingenstrasse 67, Munich, Germany</h4>
            <h4>Topics: Machine Learning, Deep Learning, Computer Vision, Natural Language Processing</h4>

            <div class="announcement" v-if="validMessages.length > 0">
              Announcement:
              <ul><li v-for="message in validMessages">
                {{ message.info }}
              </li></ul>
            </div>
            
        </div>
        <div class="schedule" v-for="event in events" v-if="event.schedules.length > 0">
            <h2>{{event.header}}</h2>
            <div class="meeting" v-for="schedule in event.schedules">
                <div class="person label"><i class="fas fa-user-circle"></i> {{ schedule.person }}</div>
                <div class="date label"><i class="far fa-calendar-alt"></i> {{ schedule.date }}</div>
              <div class="paper">
                {{ schedule.paper }}
                <a :href="schedule.link" target="_blank" v-if="haslink(schedule)"><i class="fas fa-external-link-alt"></i></a>
                <div class="material" v-for="material in schedule.materials">
                    <a :href="material"><i class="fas fa-paperclip"></i></a>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div id="footer" v-cloak>
        <ul class="list">
          <li class="item">
            <h2 class="title">Copyright &copy; 2018 LMU-AIJC</h2>
            <div class="body">LMU AI Journal Club</div>
          </li>
          <li class="item">
            <h2 class="title">Organizers</h2>
            <div class="body">Georgia Olympia Brikis</div>
            <div class="body">Sebastian Wagner</div>
          </li>
        </ul>
    </div>
  </div>
  <script src="database.js"></script>
  <script src="app.js" defer></script>
</body>
</html>

